@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --green-500: hsl(158, 36%, 37%);
  --green-700: hsl(158, 42%, 18%);
  --black: hsl(212, 21%, 14%);
  --grey: hsl(228, 12%, 48%);
  --cream: hsl(30, 38%, 92%);
  --white: hsl(0, 0%, 100%);
}


*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}
body {
    font-family: "Montserrat", sans-serif;
    background: var(--cream);
    display: grid;
    place-content: center;
    min-height: 100vh;
}

#content {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    max-width: 600px;   
    margin: 1rem;
}

#Product img{
    width: 100%;
    display: block;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

}

.product-info {
    background-color: var(--white);
    padding: 2rem;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.product-info p {
    font-size: 14px;
    color: var(--grey);
    line-height: 1.6;
}



.product-info .price .discounted-price {
    color: var(--green-500);
    font-size: 30px;
    font-family: "Fraunces", serif;
    margin-right: 20px;
}
.product-info .price {
    display:flex;
    align-items: center;
    margin: 20px 0;
}

.product-info .price .original-price {
    justify-content: right;
    
}
button{
    width: 100%;
    padding: 15px;
    border-radius: 8px;
    color: var(--white);
    cursor: pointer;
    border: none;
    background-color: var(--green-700);
    font-weight: 500;
    
}

i {
    margin-right: 8px;
}

h1 {
    margin: 20px 0;
    font-family: "Fraunces", serif;
    font-size: 32px;
    line-height: 1;
    color: var(--black);
}

.perfum {
    word-spacing: 4px;
    font-size: 12px;
}

@media (max-width: 700px) {
#content {
    grid-template-columns: 1fr;}
    #Product img {
        border-top-right-radius: 10px ;
        border-top-right-radius: 10px ;
        border-bottom-left-radius: 0;
    }
    .product-info {
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px;
    }
}




